.panel
{
    height: 450px;
    width: 1366px;
    background-image: url("../../../assets/imagenes/fondo.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}