.tablero
{
    padding: .5em 1em;
    justify-content: center;
}
table
{
    background-color: white;
}
img
{
    width: 63%;
    position: relative center;
    top: 16px;
}
td
{
    text-align: center;
    height: 160px;
    width: 160px;
}

#center-row
{
    border-top: 20px solid #141D3F;
    border-bottom: 20px solid #141D3F;
}

.borde-right
{
    border-right: 20px solid #141D3F;
}
.panel
{
    height: 645px;
    width: 1366px;
    background-image: url("../../../assets/imagenes/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}