.tablero
{
    padding: .5em 1em;
    justify-content: center;
}
table
{
    background-color: white;
}
img
{
    width: 63%;
    position: relative center;
    top: 16px;
}
td
{
    text-align: center;
    height: 160px;
    width: 160px;
}

#center-row
{
    border-top: 20px solid #141D3F;
    border-bottom: 20px solid #141D3F;
}

.borde-right
{
    border-right: 20px solid #141D3F;
}
.panel
{
    height: 645px;
    width: 100%;
    background-image: url("../../../assets/imagenes/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
   
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.Ganador {
    background-color: #059F2F;
}
#snackbar.Perdedor {
    background-color: #FF0000;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}