<app-cabecera (loger)="logear = true" >  </app-cabecera>

<body class="panel">
<div class="container color1" >
    <div class="row" style="background-color: red;">
        <div class="d-flex w-100 justify-content-center">
            <h2 class="mb-1" style="color: white;">Menu Principal</h2>
        </div>
    </div>
   <div class="row">
     <div class="col-lg-6">
        <li class="color1">
          <a (click)="redirigir()">
            <div class="media">
              <div class="media-left">
                    <img src="./assets/imagenes/saladejuegos.jpg" class="media-object imagenDeMenu" >
              </div>
              <div class="media-body">
                <h3 class="media-heading">Juegos</h3> 
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
              </div>
            </div>
          </a>
        </li>
     </div>
     <div class="col-lg-6">
        <li class="color1 ">
            <a routerLink="/Listado">
              <div class="media">
                  <div class="media-left">
                      <img src="./assets/imagenes/listado.png" class="media-object imagenDeMenu" >
                    </div>
                <div class="media-body">
                  <h3 class="media-heading">Listados de resultados</h3>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>
                
              </div> 
            </a>
          </li>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <li class="color1">
          <a routerLink="/Juegos">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/configuracion.jpg" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h3 class="media-heading">Configuraci&oacute;n</h3>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
              </div>
             
            </div> 
          </a>
        </li>
      </div>
      <div class="col-lg-6">
        <li class="color1">
          <a routerLink="/Jugadores">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/jugadores.jpg" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h3 class="media-heading">Jugadores</h3>
                <p>Listado de jugadores</p>
              </div>
             
            </div> 
          </a>
        </li>
      </div>

    </div>
    <app-login (log)="logear = false" *ngIf="logear"></app-login>
    <br>
</div>

<app-pie></app-pie>
