.custom-cur 
{
    cursor: url('../../../assets/imagenes/Crosshair.cur');
}
.Columna1
{
    margin-left: 100px;
}
.Columna2
{
    margin-left: 500px;
}
.Columna3
{
    margin-left: 800px;
}
.mira
{
    cursor: url("../../../assets/imagenes/Crosshair.cur"), auto;
}
#mira
{
    cursor: url("../../../assets/imagenes/Crosshair.cur"), auto;
}
.color1
{
    background-color: red;
}
.color2
{
    background-color: green;
}
.color3
{
    background-color: blueviolet;
}
.color4
{
    background-color: blue;
}
.color5
{
    background-color :orange;
}
.panel
{
    height: 545px;
    width: 100%;
    background-image: url("../../../assets/imagenes/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
   
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.Ganador {
    background-color: #059F2F;
}
#snackbar.Perdedor {
    background-color: #FF0000;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}