.custom-cur 
{
    cursor: url('../../../assets/imagenes/Crosshair.cur');
}
.Columna1
{
    margin-left: 100px;
}
.Columna2
{
    margin-left: 500px;
}
.Columna3
{
    margin-left: 800px;
}
.mira
{
    cursor: url("../../../assets/imagenes/Crosshair.cur"), auto;
}
#mira
{
    cursor: url("../../../assets/imagenes/Crosshair.cur"), auto;
}
.color1
{
    background-color: red;
}
.color2
{
    background-color: green;
}
.color3
{
    background-color: blueviolet;
}
.color4
{
    background-color: blue;
}
.color5
{
    background-color :orange;
}
.panel
{
    height: 545px;
    width: 1366px;
    background-image: url("../../../assets/imagenes/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}