<h1 style="text-align:center">Shooter!</h1>
<form name="juego">
        <ul>
          <div *ngIf="enJuego" class="jumbotron mira">

            <div>
                <button [hidden]="numBoton != 1" id="mira" (click)="Entra()"  class="btn color5 btn-lg Columna1"><input type=image class="mira" src="./././assets/imagenes/terror2.png" width="80" height="65"></button>
                <button [hidden]="numBoton != 2" id="mira" (click)="Entra()"  class="btn color2 btn-lg Columna2"><input type=image class="mira" src="./././assets/imagenes/terror3.gif" width="70" height="65"></button>                
                <button [hidden]="numBoton != 3" id="mira" (click)="Entra()"  class="btn color1 btn-lg Columna3"><input type=image class="mira" src="./././assets/imagenes/terror4.png" width="70" height="65"></button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div>
                <button [hidden]="numBoton != 4" id="mira" (click)="Entra()"  class="btn color2 btn-lg Columna1"><input type=image class="mira" src="./././assets/imagenes/terror2.png" width="80" height="65"></button>
                <button [hidden]="numBoton != 5" id="mira" (click)="Entra()"  class="btn color3 btn-lg Columna2"><input type=image class="mira" src="./././assets/imagenes/terror4.png" width="70" height="65"></button>
                <button [hidden]="numBoton != 6" id="mira" (click)="Entra()"  class="btn color5 btn-lg Columna3"><input type=image class="mira" src="./././assets/imagenes/terror1.gif" width="70" height="65"></button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div>
                <button [hidden]="numBoton != 7" id="mira" (click)="Entra()"  class="btn color4 btn-lg Columna1"><input type=image class="mira" src="./././assets/imagenes/terror4.png" width="70" height="65"></button>
                <button [hidden]="numBoton != 8" id="mira" (click)="Entra()"  class="btn color1 btn-lg Columna2"><input type=image class="mira" src="./././assets/imagenes/terror1.gif" width="70" height="65"></button>
                <button [hidden]="numBoton != 9" id="mira" (click)="Entra()"  class="btn color3 btn-lg Columna3"><input type=image class="mira" src="./././assets/imagenes/terror3.gif" width="70" height="65"></button>
            </div>

            <!--<div style="float: right; margin-right: 400px;">
                <p>cantidad: {{juntado}}</p>
                <br>
                <p>Puntuacion: {{puntuacion}}</p>
                <br>
                <p>Record: {{maximo}}</p>
                <br>
                <p>Tiempo: {{tiempo}}</p>
            </div>-->
            <br>
        
          </div>
        <button [hidden]="enJuego" (click)="NuevoJuego()"  class="btn btn-info btn-lg">NuevoJuego</button>
        </ul>
</form>