<body class="panel">
<h1 style="color: orange; text-align:center">Shooter!</h1>
<div class="jumbotron mira container" style="background-color: lightgrey">
    <div class="row">
<form name="juego">
        <ul>
          <div *ngIf="enJuego" class="mira">

            <div>
                <button [hidden]="numBoton != 1" id="mira" (click)="Entra()"  class="btn color5 btn-lg Columna1"><input type=image class="mira" src="./././assets/imagenes/terror2.png" width="70" height="65"></button>
                <button [hidden]="numBoton != 2" id="mira" (click)="Entra()"  class="btn color2 btn-lg Columna2"><input type=image class="mira" src="./././assets/imagenes/terror3.gif" width="70" height="65"></button>                
                <button [hidden]="numBoton != 3" id="mira" (click)="Entra()"  class="btn color1 btn-lg Columna3"><input type=image class="mira" src="./././assets/imagenes/terror4.png" width="70" height="65"></button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div>
                <button [hidden]="numBoton != 4" id="mira" (click)="Entra()"  class="btn color2 btn-lg Columna1"><input type=image class="mira" src="./././assets/imagenes/terror2.png" width="70" height="65"></button>
                <button [hidden]="numBoton != 5" id="mira" (click)="Entra()"  class="btn color3 btn-lg Columna2"><input type=image class="mira" src="./././assets/imagenes/terror4.png" width="70" height="65"></button>
                <button [hidden]="numBoton != 6" id="mira" (click)="Entra()"  class="btn color5 btn-lg Columna3"><input type=image class="mira" src="./././assets/imagenes/terror1.gif" width="70" height="65"></button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div>
                <button [hidden]="numBoton != 7" id="mira" (click)="Entra()"  class="btn color4 btn-lg Columna1"><input type=image class="mira" src="./././assets/imagenes/terror4.png" width="70" height="65"></button>
                <button [hidden]="numBoton != 8" id="mira" (click)="Entra()"  class="btn color1 btn-lg Columna2"><input type=image class="mira" src="./././assets/imagenes/terror1.gif" width="70" height="65"></button>
                <button [hidden]="numBoton != 9" id="mira" (click)="Entra()"  class="btn color3 btn-lg Columna3"><input type=image class="mira" src="./././assets/imagenes/terror3.gif" width="70" height="65"></button>
            </div>
            <br>
        
          </div>

        <div [hidden]="enJuego">
        Cantidad de blancos:
        <input [(ngModel)]="blancos" placeholder="ingrese la cantidad de blancos" name="numeroIngresado" type="text" class="form-control" style="width:200%"/>
        <br>
        <button (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo Juego</button>
      </div>
      </ul>
</form>
</div>
</div>
<div id="snackbar">{{Mensajes}}</div>
</body>